<h1>Reservations on my events</h1>

<ul>
  <% @organizer_bookings.each do |booking| %>
    <li>
      <%= booking.event.title %>
      <%= booking.participant.email %>
      <%= display_statut(booking.statut) %>
      <% if booking.statut == "pending" %>
      <%= link_to "Accept", accept_booking_path(booking), method: :patch %>
      <%= link_to "Decline", decline_booking_path(booking), method: :patch %>
      <% end %>
    </li>
  <% end %>
</ul>
