<!-- <div class="cards">
  <% @events.each do |event| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      <h2><%= event.title %></h2>
      <div class="card-trip-infos">
        <p><%= event.description%></p>
        <p><%= event.activity%></p>
        <p><%= event.address%></p>
        <p><%= event.name_of_place%></p>
        <p><%= event.number_of_places%></p>
        <p><%= event.date%></p>
        <p><%= event.time%></p>
        <p><%= event.picture%></p>
      </div>
    </div>
  <% end %>
</div>

<%= link_to "Add a new event", new_event_path %> -->

<h3>List of events</h3>
<div class="container">
<div class="cards">
   <% @events.each do |event| %>
<div class="card-trip">
  <img src="https://www.yogajournalfrance.fr/wp-content/uploads/2017/08/Le-Yoga-et-sport-de-haut-niveau.jpg">
  <div class="card-trip-infos">
    <div>
      <h2><%= event.title %></h2>
     <p><%= event.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%= event.date%></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>
</div>
<div class="cards">
   <% @events.each do |event| %>
<div class="card-trip">
  <img src="https://daily.jstor.org/wp-content/uploads/2018/06/soccer_europe_1050x700.jpg">
  <div class="card-trip-infos">
    <div>
      <h2><%= event.title %></h2>
     <p><%= event.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%= event.date%></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>
</div>

<div class="cards">
   <% @events.each do |event| %>
<div class="card-trip">
  <img src="https://secure.meetupstatic.com/photos/event/1/f/5/0/600_458048016.jpeg">
  <div class="card-trip-infos">
    <div>
      <h2><%= event.title %></h2>
     <p><%= event.description%></p>
    </div>
    <h2 class="card-trip-pricing"><%= event.date%></h2>
    <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
  </div>
</div>
<% end %>
</div>

<div class="button-container">
 <button class="btn btn-flat my_button">
  <%= link_to "Add a new event", new_event_path %>
</button>
</div>
 </div>

