<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>


<h1>  List of events </h1>
<div class="cards">
<%= @events.each do |event| %>
<%= @event.title %>
<%= @event.description%>
<%= @event.activity%>
<%= @event.address%>
<%= @event.name_of_place%>
<%= @event.number_of_places%>
<%= @event.date%>
<%= @event.time%>
<%= @event.picture%>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
</div>
<% end %>
</div>
<%= link_to "Add a new event", new_event_path %>




