<div class="big_container">
  <h3> My events </h3>
<div class="container">
  <div class="cards">
    <% @events.each do |event| %>
    <div class="card-trip">
      <%= cl_image_tag(event.picture, crop: :fill) %>
      <div class="card-trip-infos-grey">
        <div>

       <%= cl_image_tag (event.organizer.avatar), class: "card-trip-user avatar-bordered" %>
          <h2><%= link_to "#{event.title}", event_path(event) %></h2>
          <h6><%= event.description%></h6>
          <h6><%= event.organizer.email %></h6>
        </div>
        <h2 class="card-trip-pricing"><%= event.date.strftime("%d/%m/%Y")%></h2>
        <h2 class="card-trip-pricing"><%= event.time.strftime("%H:%M")%></h2>

      </div>
      <%= link_to "", event_path(event), class: "card-link" %>
    </div>
    <% end %>
  </div>
  <div class="button-container">
    <button class="btn btn-flat my_button">
    <%= link_to "Create a new event", new_event_path  %>
    </button>
  </div>
</div>
</div>
