<div class="banner_event" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= cl_image_path @event.picture, crop: :fill %>')">

  <div class="container d-flex justify-content-around">
    <div class="background-opacity-white">
    <h1><%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.activity %></p>
    <p><%= @event.name_of_place %></p>
    <p><%= @event.address %></p>
    <p> Number of places : <%= @event.number_of_places %></p>
    <p><%= @event.date.strftime("Date: %d/%m/%Y") %></p>
    <p><%= @event.time.strftime("Time: %H:%M") %></p>

    <%= link_to 'Back to my events', organizer_events_events_path, class: 'btn btn-danger' %>
 </div>
</div>




</div>

