<div class="banner_event" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @event.picture, crop: :fill %>')">

  <div class="container">
    <h1><strong>Event Details</strong></h1>
    <p>Hi there, here you can validate your event!</p>
    <h1><%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.address %></p>
    <p><%= @event.created_at %></p>
    <%= link_to 'Participate', new_event_booking_path(@event), class: 'btn btn-primary' %>
 </div>




</div>

